## Primacoustic Git Ignore File 

## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Sass
.sass-cache

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz