<!-- Page Content -->
        <div id="page-content-wrapper" class="full-wd-innerconts">
            <!--<div class="container-fluid">-->
             <!--<div class="home-slider">
                    <img src="image/home-slider.jpg" class="img-responsive">
                    </div>-->
                    <div class="container">
                <div class="row">
                    <div class="col-lg-12 right-side">
                    <div class="menu-icon">
                    <a href="#menu-toggle" class="btn btn-default glyphicon glyphicon-menu-hamburger" id="menu-toggle"></a>
                    </div>
                    <div class="inner-slider-part text-center">
                        <h1>Consultation Process</h1> 
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>Lorem Ipsum has been the industry's standard dummy text <br>ever since the 1500s,</p>
                      
                 </div>

                       <!-- <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle</a>-->
                    </div>
                </div>
            </div>
        <!--</div>-->
      </div>
        <!-- /#page-content-wrapper -->
         <div id="page-content-wrapper">
            <!--<div class="container-fluid">-->
             <!--<div class="home-slider">
                    <img src="image/home-slider.jpg" class="img-responsive">
                    </div>-->
            <div class="container">
                <div class="row" style="margin-top:50px">
                <div class="col-lg-12">
                <p style="color:rgb(137,2,2);"><b>Its Online And In Person at the Same Time</b></p>

<p>How do you “pick” a financial expert? Referral or email from a friend, family member, business associate, accountant, lawyer? An advertisement on TV, in the newspaper or the yellow pages, or do you go to the bank because it’s “easy and convenient”?</p>

<p>In other words, it could be a complete stranger. Will that “expert” concentrate only on RRSP’s, insurance or investments; or can they answer all the questions related to your
"whole story"?</p>

<p>We offer online conferencing for that important second opinion and as an alternative to traveling to meet in person with a stranger. <b>You can get to know us from the security of your home or office and can comfortably ask your questions.</b></p>

<p>By providing a time limit, you can “cut to the chase” and get right into those questions you want answered. Financial experts, more often than not, will require information from you (such as age, income level, retirement goals, business goals) to answer your questions. With online A/V conferencing you can see exactly who you are speaking with and sharing that information with.</p>

<p>Should you wish to continue, we will identify your needs and if necessary introduce other professionals (such as tax experts, estate planners, etc.) to you with the same convenience.</p>

<p>Online conferencing allows us to do our small part to help protect the environment – less travel, means less harmful emissions in our air.</p>

<p>The bottom line is that conferencing is a convenient and economical way for you to comfortably ask questions and get to know us.</p>

                </div>
                </div>
            </div>
        <!--</div>-->  
     </div>
<div id="page-content-wrapper" class="footer" style="margin-top:50px;">
            <!--<div class="container-fluid">-->
        <div class="container">
                <div class="row" >
                    <div class="col-lg-8">
                    <div class="row">
                    <div class="col-lg-3">
                        <ul class="foot">
                        <h3>About</h3>
                        <li><a href="">About Terry</a></li>
                        <li><a href="">Professional Resume</a></li>
                       </ul>
                    </div>
                    <div class="col-lg-3">
                       <ul class="foot">
                        <h3>Services</h3>
                        <li><a href="">Consultation Service</a></li>
                        <li><a href="">How I work</a></li>
                        <li><a href="">FAQ</a></li>
                       </ul>
                    </div>
                     <div class="col-lg-3">
                       <ul class="foot">
                        <h3>Resources</h3>
                        <li><a href="">Financial Insiders</a></li>
                        <li><a href="">Consultation Process</a></li>
                        <li><a href="">Concepts & Strategies</a></li>
                        <li><a href="">The Financial Journey</a></li>
                       </ul>
                    </div>
                      <div class="col-lg-3">
                       <ul class="foot">
                        <h3>Legal</h3>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Security</a></li>
                       </ul>
                    </div>
                    </div>
                     </div>
                     <div class="col-lg-4">
                     <div class="subscribe">
                     <h2>Register for the Financial Insiders
                           Loonie Talk Newsletter</h2>
                           <form action="">
                           <input type="text" class="form-control sub" placeholder="Enter your Neme">
                           <input type="text" class="form-control sub" placeholder="Emter your Email">
                           <p>Your information will 'never' be shared or sold to a 3rd party</p>
                           <button>Subscribe Now</button>
                           </form>
                     </div>
                     </div>
                </div>
         </div>                 
   <!--</div>-->
</div>
<div id="page-content-wrapper" class="copyright">
            <!--<div class="container-fluid">-->
        <div class="container">
                <div class="row" >
                    <div class="col-lg-12 text-center last-foot">                    
                   <p>Copyright 2016 Financial insiders</p>
                     </div>
                </div>
         </div>                 
    <!--</div>-->
</div>