<!-- Page Content -->
        <div id="page-content-wrapper" class="full-wd-img">
            <!--<div class="container-fluid">-->
             <!--<div class="home-slider">
                    <img src="image/home-slider.jpg" class="img-responsive">
                    </div>-->
                    <div class="container">
                <div class="row">
                    <div class="col-lg-12 right-side">
                    <div class="menu-icon">
                    <a href="#menu-toggle" class="btn btn-default glyphicon glyphicon-menu-hamburger" id="menu-toggle"></a>
                    </div>
                    <div class="slider-part">
                    <h4> Financial Insiders Online Consultation Service</h4>
                        <h1>I provide advice, answers to 
                          questions, second opinions,  
                          without travel with no 
                       sales pressure</h1> 
                       <ul>
                       <li><a href="" class="register">Register</a></li>
                       <li><a href="" class="learn-more">Learn More</a></li>
                       </ul>
                        <div class="arrow-icon">
                       <img src="image/arrow-ion.png">
                       </div>
                 </div>

                       <!-- <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle</a>-->
                    </div>
                </div>
            </div>
        <!--</div>-->
      </div>
        <!-- /#page-content-wrapper -->
         <div id="page-content-wrapper">
            <!--<div class="container-fluid">-->
             <!--<div class="home-slider">
                    <img src="image/home-slider.jpg" class="img-responsive">
                    </div>-->
                    <div class="container">
                <div class="row" style="margin-top:50px">
                    <div class="col-lg-4">
                        <div class="about-section">
                           <h3>About Me</h3>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                          <a href="">Read More </a>
                         </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about-section">
                           <h3>How I Work</h3>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                          <a href="">Read More </a>
                         </div>
                    </div>
                     <div class="col-lg-4">
                        <div class="about-section">
                           <h3>Consultation Process</h3>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                          <a href="">Read More </a>
                         </div>
                    </div>
                </div>
                 <div class="row" style="margin-top:50px">
                     <div class="col-lg-4">
                        <div class="about-section">
                           <h3>Concepts & Strategies</h3>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                          <a href="">Read More </a>
                         </div>
                    </div>
                     <div class="col-lg-4">
                        <div class="about-section">
                           <h3>Advocacy Program</h3>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                          <a href="">Read More </a>
                         </div>
                    </div>
                 </div>
            </div>
        <!--</div>-->  
     </div>
       

<div id="page-content-wrapper" class="botton-client" style="margin-top:60px">
            <!--<div class="container-fluid">-->
        <div class="container">
                <div class="row" >
                     <div class="col-lg-2 col-sm-12">
                        <div class="clt-img">
                            <img src="image/client.png">
                         </div>
                     </div>    
                     <div class="col-lg-6 col-sm-12">
                          <div class="clt-details">
                              <h3>Do you need advice, or a second 
                                  opinion about your business 
                                  insurance needs?</h3>
                            </div>
                     </div>
                    <div class="col-lg-3 col-sm-12">
                    <div class="client-profile" style="margin-top:12px;">
                    <button>Chat With Me</button>
                    </div>
                     </div>
                </div>
         </div>                 
   <!--</div>-->
</div>
<div id="page-content-wrapper" style="margin-top:50px">
            <!--<div class="container-fluid">-->
        <div class="container">
                <div class="row" >
                    <div class="col-lg-12 text-center ">
                    <div class="client-msg">
                        <img src="image/quote.png" class="img-responsive quote">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="cli-profile">
                        <img src="image/cli-profile.png" class=" img-responsive">
                        </div>
                        <h4>Mary</h4>
                        <p class="partner"> Partner</p>
                      </div>
                     </div>
                </div>
         </div>                 
    <!--</div>-->
</div>
<div id="page-content-wrapper" class="footer" style="margin-top:50px;">
            <!--<div class="container-fluid">-->
        <div class="container">
                <div class="row" >
                    <div class="col-lg-8">
                    <div class="row">
                    <div class="col-lg-3">
                        <ul class="foot">
                        <h3>About</h3>
                        <li><a href="">About Terry</a></li>
                        <li><a href="">Professional Resume</a></li>
                       </ul>
                    </div>
                    <div class="col-lg-3">
                       <ul class="foot">
                        <h3>Services</h3>
                        <li><a href="">Consultation Service</a></li>
                        <li><a href="">How I work</a></li>
                        <li><a href="">FAQ</a></li>
                       </ul>
                    </div>
                     <div class="col-lg-3">
                       <ul class="foot">
                        <h3>Resources</h3>
                        <li><a href="">Financial Insiders</a></li>
                        <li><a href="">Consultation Process</a></li>
                        <li><a href="">Concepts & Strategies</a></li>
                        <li><a href="">The Financial Journey</a></li>
                       </ul>
                    </div>
                      <div class="col-lg-3">
                       <ul class="foot">
                        <h3>Legal</h3>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Security</a></li>
                       </ul>
                    </div>
                    </div>
                     </div>
                     <div class="col-lg-4">
                     <div class="subscribe">
                     <h2>Register for the Financial Insiders
                           Loonie Talk Newsletter</h2>
                           <form action="">
                           <input type="text" class="form-control sub" placeholder="Enter your Neme">
                           <input type="text" class="form-control sub" placeholder="Emter your Email">
                           <p>Your information will 'never' be shared or sold to a 3rd party</p>
                           <button>Subscribe Now</button>
                           </form>
                     </div>
                     </div>
                </div>
         </div>                 
   <!--</div>-->
</div>
<div id="page-content-wrapper" class="copyright">
            <!--<div class="container-fluid">-->
        <div class="container">
                <div class="row" >
                    <div class="col-lg-12 text-center last-foot">                    
                   <p>Copyright 2016 Financial insiders</p>
                     </div>
                </div>
         </div>                 
    <!--</div>-->
</div>